@using DoAn.Models
@model IList<tblMenu>
<!-- Header Start -->
<div class="container-fluid bg-dark px-0">
    <div class="row gx-0">
        <div class="col-lg-3 bg-dark d-none d-lg-block">
            <a href="index.html"
                   class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
                <img src="~/img/logo_hotel.png" alt="Tuan Anh Hotel" class="logo-full-left">
            </a>
        </div>
        <div class="col-lg-9">
            <div class="row gx-0 bg-white d-none d-lg-flex">
                <div class="col-lg-7 px-5 text-start">
                    <div class="h-100 d-inline-flex align-items-center py-2 me-4">
                        <i class="fa fa-envelope text-primary me-2"></i>
                        <p class="mb-0">Dinhtuananh.dev@gmail.com</p>
                    </div>
                    <div class="h-100 d-inline-flex align-items-center py-2">
                        <i class="fa fa-phone-alt text-primary me-2"></i>
                        <p class="mb-0">+0374 218 594</p>
                    </div>
                </div>
                <div class="col-lg-5 px-5 text-end">
                    <div class="d-inline-flex align-items-center py-2">
                        <a class="me-3" href="https://facebook.com/61576388967978"><i class="fab fa-facebook-f"></i></a>
                        <a class="me-3" href=""><i class="fab fa-twitter"></i></a>
                        <a class="me-3" href=""><i class="fab fa-linkedin-in"></i></a>
                        <a class="me-3" href=""><i class="fab fa-instagram"></i></a>
                        <a class="" href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0">
                <a href="index.html" class="navbar-brand d-block d-lg-none">
                    <h1 class="m-0 text-primary text-uppercase">TuanAnh Hotel</h1>
                </a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0 ms-5">
                        @foreach (var menu in Model.Where(m => m.Levels == 1).OrderBy(m => m.MenuOrder))
                        {
                            var subMenu = Model.Where(s => s.ParentID == menu.MenuID).ToList();

                            if (subMenu.Count == 0)
                            {
                                <a href="@menu.Link" class="nav-item nav-link">@menu.MenuName</a>
                            }
                            else
                            {
                                <div class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                                        @menu.MenuName
                                    </a>
                                    <div class="dropdown-menu rounded-0 m-0">
                                        @foreach (var sub in subMenu)
                                        {
                                            <a href="@sub.Link" class="dropdown-item">@sub.MenuName</a>
                                        }
                                    </div>
                                </div>
                            }
                        }

                    </div>
                    <a href="login.html" class="btn btn-primary rounded-0 py-4 px-md-5 d-none d-lg-block"> Đăng nhập <i
                        class="fa fa-user ms-3"></i></a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- Header End -->